@import url(reset.css);

.cat_block {
    width: 300px;
    margin: 0 auto;
    position: relative;
    font-size: 0;


}

.cat_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-text {
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 0;
    font-size: 20px;
    color: bisque;
    display: none;
}

.cat_block:hover .gallery-text {
    display: block;
}

.gallery-text span {
    color: gray;
}

.container {
    max-width: 1140px;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    background-color: darkgray;
}

.cat {
    display: flex;
}